spring:
  datasource:
    url: jdbc:mysql://localhost:3306/heytossme
    username:
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  rabbitmq:
    username: guest
    password: guest
    host: localhost
    port: 5672